@using Microsoft.AspNetCore.Identity
@using OneCraftyMiss.Engine.Models

@inject UserManager<ApplicationUser> UserManager

<div>


    <nav id="sidebar">
        <!-- Sidebar Header -->
        <div class="sidebar-header">
            <div class="nav-user-info">
                <div class="nav-user-img"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
                <div class="nav-user-name text-ellipsis">@UserManager.GetUserName(User)</div>
            </div>
        </div>

            <!-- Sidebar Links -->
            <ul class="list-unstyled components">
                <li class="active sidebar-item"><i class="fa fa-tachometer fa-2x" aria-hidden="true"></i><a asp-area="" asp-controller="Admin" asp-action="Index">Dashboard</a></li>                
                <li class="sidebar-item"><i class="fa fa-thumb-tack fa-2x" aria-hidden="true"></i><a asp-area="" asp-controller="Admin" asp-action="Blog">Posts</a></li>                
                <li class="sidebar-item"><i class="fa fa-picture-o fa-2x" aria-hidden="true"></i><a href="#">Media</a></li>
                 <!--<li>                    
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li><a href="#">Page</a></li>
                        <li><a href="#">Page</a></li>
                        <li><a href="#">Page</a></li>
                    </ul>
                </li>-->
                
                <li class="sidebar-item"><i class="fa fa-sliders fa-2x" aria-hidden="true"></i><a href="#">Settings</a></li>
            </ul>
        </nav>
</div>